<%= form_for(soul) do |f| %>
  <% if soul.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(soul.errors.count, "error") %> prohibited this soul from being saved:</h2>

      <ul>
      <% soul.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :soulType %>
    <%= f.text_field :soulType %>
  </div>

  <div class="field">
    <%= f.label :s3Key %>
    <%= f.text_field :s3Key %>
  </div>

  <div class="field">
    <%= f.label :epoch %>
    <%= f.number_field :epoch %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :radius %>
    <%= f.text_field :radius %>
  </div>

  <div class="field">
    <%= f.label :token %>
    <%= f.text_field :token %>
  </div>

  <div class="field">
    <%= f.label :device_id %>
    <%= f.text_field :device_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
