<p id="notice"><%= notice %></p>

<h1>Souls</h1>

<table>
  <thead>
    <tr>
      <th>Soultype</th>
      <th>S3key</th>
      <th>Epoch</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Radius</th>
      <th>Token</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @souls.each do |soul| %>
      <tr>
        <td><%= soul.soulType %></td>
        <td><%= soul.s3Key %></td>
        <td><%= soul.epoch %></td>
        <td><%= soul.latitude %></td>
        <td><%= soul.longitude %></td>
        <td><%= soul.radius %></td>
        <td><%= soul.token %></td>
        <td><%= soul.device %></td>
        <td><%= link_to 'Show', soul %></td>
        <td><%= link_to 'Edit', edit_soul_path(soul) %></td>
        <td><%= link_to 'Destroy', soul, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soul', new_soul_path %>
