<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @block.token %>
</p>

<p>
  <strong>Blockedtoken:</strong>
  <%= @block.blockedToken %>
</p>

<p>
  <strong>Device:</strong>
  <%= @block.device %>
</p>

<p>
  <strong>Blocked device:</strong>
  <%= @block.blocked_device_id %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
