<p id="notice"><%= notice %></p>

<p>
  <strong>Blocker token:</strong>
  <%= @block.blocker_token %>
</p>

<p>
  <strong>Blockee token:</strong>
  <%= @block.blockee_token %>
</p>

<p>
  <strong>Blocker:</strong>
  <%= @block.blocker_id %>
</p>

<p>
  <strong>Blockee:</strong>
  <%= @block.blockee_id %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
