<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title or "Soulcast" %></title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="<%= @description || 'Soulcast | Send a message from your soul' %>">
    <meta name="author" content="The Soulcast Team">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %> <!--hax to disable all tree loading-->
    <!--<%= stylesheet_link_tag "application", params[:controller], :media => "all" %>-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
